#main {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    overflow: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

a:hover{
    color: #dec129;

}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;

    .destaque {
        color: #dec129;
    }
}