<div id="main">
  <app-header></app-header>
  <main>
    <div class="home-container">
      <h1>Veja o que estão <span class="destaque">compartilhando!</span></h1>
      <div class="search-container">
        <form>
          <fa-icon [icon]="faSearch"></fa-icon>
          <input type="text" placeholder="Ou busque por um momento..." (input)="search($event)">
        </form>
      </div>
      <div *ngIf="moment.length > 0; else noMoments">
        <div class="moments-container">
          <div class="moments">
            <div class="moment" *ngFor="let moment of moment">
              <img
              src="{{ baseApiUrl }}uploads/{{ moment.image }}"
              alt="{{ moment.title }}"
              />
              <a routerLink="moments/{{ moment.id }}">
              <h3>{{moment.title}}</h3>
              </a>
            </div>

          </div>
        </div>
      </div>
      <ng-template #noMoments>
        <h1>Não há Momentos cadastrados!</h1>
      </ng-template>
    </div>
  </main>
</div>
