nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #444;
}

a {
    text-decoration: none;
    color: #444;
    transition: .4s;
}

a:hover{
    color: #dec129;
}

.brand, 
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    padding: 0.1em 0.3em;
}
.brand img {
    width: 40px;
    margin-right: .6em;
}

.brand h2{
    transition: .4s;
}

.links li{
    margin-right: 1em;
    list-style: none;
}

#add a{
    color: #dec129;
}

#add a:hover{
    background-color: #efefef;
}