#main, main {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    overflow: hidden;
}

.moment-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.moment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #444;

  h2, h3, p {
    color: #fff;
  }

  h1 {
    padding-top: 0px;
  }

  h2 {
    padding-bottom: 2em;
    color: #dec129;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    .about-moment{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    .about-moment p {
      width: 20em;
      padding: .2em;
    }

  }
}

.show-img {

  img {
    width: 30vw;
    height: auto;

    padding: 10px;
  }
}

.comentarios {
  margin-left: 2em;
  text-align: left;
  border-bottom: 1px solid #efefef;
  padding: 1em 10em 2em;
}

.author {
  font-size: 0.8em;
}

.about-moment h3,
.actions h3,
.comments h3 {
  margin-bottom: 1em;
}

  .comment-form{
    margin-left: 2em;
    
  }

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: .5em;

}

input[type="submit"] {
  margin-top: 1em;
}

span {
  font-weight: bold;
}

.comment-container {
  margin-left: -10em;
}